version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: dwh-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - './initdb:/docker-entrypoint-initdb.d:ro,Z'
      - '../:/workspace:ro,Z'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  pgdata:
